@charset "UTF-8";
/* CSS Document */       /* Exam Prep - Sierra BUckland */

/* Question 1: the site uses display: flex. */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/*button styles*/

.pricingTable button {
  width: 100%;
  font-size: 2.1rem;
  padding: 1rem 2rem;
  line-height: 1.5;
  border-radius: .5rem;
}

.pricingTable section:nth-child(2) button:hover,
.pricingTable section:nth-child(3) button:hover {
  background-color: #0062cc;
}

/* Question 2 - The style rule below is targetting the button tag IN the pricingTable class (no other buttons tags in other parts of the doc). This style rule is adding padding of 5px to the top and bottom of the button and 10px of padding to the sides. It is increasing the font size of whatever font is in the button to be 12.5px,the height of the lines in the button to be 1.5 and a border radius of 3px which rounds corners of the button*/

nav ul li:last-child  {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

header div.flexHeader nav ul div.navBttn li a{
  color: #007bff;
}

header div.flexHeader nav ul div.navBttn li a:hover{
  color: #fff;
}

.pricingTable section:first-of-type button,
nav ul li:last-child {
  border: 1px solid #007bff;
  color: #007bff;
}

.pricingTable section:first-of-type button:hover,
nav ul li:last-child:hover {
  background-color: #007bff;
  color: #fff;
}

/* Question 3 - added missing comma to seperate the two and missing colon on
background color*/
.pricingTable section:nth-of-type(2) button,
.pricingTable section:nth-of-type(3) button {
  background-color: #007bff;
  color: #fff;
  border: transparent;
}

/* Question 7 - this is the style rule that makes the image responsive. By using a max width percent instead
of pixels and regular width rule the image resizes to be a percent of parent box, whatever
size that is, instead of a set amount of pixels that could become too large or small for certain
screen sizes */
img {
  max-width: 100%;
}

/* Question 5 */
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 4rem;
  margin-bottom: 1.45rem;
  text-align: center;
}

body {
  font-family: 'open_sansregular', sans-serif;
  font-size: 1.7rem;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('assets/OpenSans-Regular-webfont.eot');
    src: url('assets/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('assets/OpenSans-Regular-webfont.woff') format('woff'),
         url('assets/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('assets/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

main h1, main p {
  text-align: center;
}

main p {
  margin-bottom: 4rem;
}

footer {
  display: flex;
  border-top: 1px solid #aeaeae;
  margin-top: 4rem;
  flex-wrap: wrap;
  align-items: center;
}

footer div:first-child {
  flex: 25%;
  padding: 0rem 1rem;
}
footer div:nth-child(2){
  flex: 25%;
  padding: 1rem 1rem;
  margin-top: 3rem;
}
footer div:nth-child(3) {
  flex: 25%;
  padding: 1rem 1rem;
}
footer div:nth-child(4) {
  flex: 25%;
  padding: 1rem 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

footer div ul li {
  color: #6c757d;
}

footer div p a {
  padding: 0 1rem;
}

.pricingTable li {
  display: list-item;
  padding: .20rem;
}

.pricingTable ul {
  text-align:  center;
}

div.flexHeader {
  margin-bottom: 4rem;
}
.flexHeader {
  display: flex;
  flex-direction: row;
  padding: 1.6rem 0rem;
}

.flexHeader ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.flexHeader p {
  font-size: 2rem;
  margin: 0rem 55rem 0rem 0rem;
}

.flexHeader nav ul li {
  padding: 8px;
}

.flexHeader nav ul li:last-child {
  padding: 8px 12px;
  border-radius: .5rem;
}

.flexHeader nav ul li a {
  text-align: center;
  text-decoration: none;
  color: black;
}

nav ul li a {
  font-size: 1.7rem;
}

nav ul li:nth-child(4){
  padding-right: 2.3rem;
}

div.flexHeader {
  border-bottom: 1px solid #aeaeae;
}

/* Question 6 */
.pricingTable {
  display: flex;
}

.pricingTable section {
  margin: 0px 15px 24px 15px;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  padding: 2rem;
}

.pricingTable section h2 {
  margin: 0;
  text-align: center;
}

/* Question 8 - Marek Piwnicki via Unsplash */
div.bannerimage {
  background-image: url('image/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
  background-color: black;
  background-position: 50% 50%;
}

/* Question 10*/
@media screen and (max-width: 600px) {
  h1 {
    font-size: 6rem;
  }

  h2, h3, h4, h5 {
    font-size: 4rem;
  }

  p {
    font-size: 3rem;
  }

  ul {
    font-size: 2rem;
  }
}
